{{#each this}}
  <li class='country' style='list-style: none;'>
    <p>
      <b><img src='{{flags.svg}}' alt='Флаг {{name.oficial}}' width='42' />
        {{name.official}}</b>
    </p>
  </li>
{{/each}}